/* .homepage{
    width: 100%;
    height: 100vh;
    background: rgb(2,0,36);
    display: flex;
    justify-content: center;
    align-items: center;    
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 22%, rgba(9,9,119,1) 78%, rgba(2,0,36,1) 100%);
} */
.SiteInfo{
    width: 30%;
    height: 100%;
    background: none;
    color: white;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .SiteInfo h4, p{
    display: inline;
    color: black;
    background: none;
    color:  #FFF6E9;
    user-select: none;
} */
.SiteInfo p{
    font-size: 20px;
    color: #B2A5FF;
    text-decoration: underline;
}
.SiteInfo button {
    position: relative;
    width: 150px;
    height: 30px;
    background-color: #FFF6E9;
    margin-top: 20px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    cursor: pointer;
    border: none;
    transition: color 0.3s ease, transform .5s ease;
}
.SiteInfo button:hover{
    transform: scale(1.1);
}
.SiteInfo button div {
    position: absolute;
    top: 0;
    left: -40%;
    width: 50%;
    height: 100%;
    background-color: #4335A7; /* Hover color */
    transition: left 1s ease;
    z-index: 0;
    filter: blur(20px);
}

.SiteInfo button:hover > div{
    left: 100%;
}

.SiteInfo button:hover {
    color: #fff;
}

.SiteInfo button span {
    position: relative;
    background-color: transparent;
    z-index: 1;
    color: black;
    user-select: none;
}
